body{
    background-color: rgb(155, 207, 140);
}
hr{
  height: 15px;
  background-color: rgb(12, 53, 12);
}
h1#h01{
text-align: center;
}

p#p01{
  color: rgb(0, 0, 0); 
  font-size: 50px;
}

h1#h02{
  color: rgb(12, 59, 33);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 150%;
  border: 3px solid sienna;  
}

a{
  font-size: xx-large;
  margin: auto;
}
a:link { 
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(8, 44, 23);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(20, 41, 97);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 50px;
}
 div#block1{
  float: left;
  display: block;
  width: 300px;
  margin: 2px;
 }
 div#block2{
  float: right;
  display: block;
  width: 300px;
  margin: 2px;
 }

pre#pre01{
  text-align: center;
    color: rgb(8, 44, 23);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

address{
  font-size: 50px;
  color:rgb(8, 44, 23) ;
  text-align: center;
}
  
/*Благодаря этому из ССЫЛКИ МОЖНО СДЕЛАТЬ КНОПКУ БЕЗ ИСПОЛЬЗОВАНИЯ ТЕГА */
  a.gg:link, a.gg:visited {
    background-color:rgb(12, 53, 12);
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a.gg:hover, a.gg:active {
    background-color:  rgb(20, 41, 97);;
  }
  
a#gg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 80px;
}
img#dog{
  width: 150px;
  height: 150px;
}







  img.display{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div.add{
    background-image: url(https://sun9-65.userapi.com/4jq8qScPNpnfG-zM2lIjVaJ7k2m9yc2DwVgUZA/0LwaxeI-imQ.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  

  table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
  }
 th, td{
padding: 5px;
text-align: center;
 }
 table#t01{
  width: 100%;    
  background-color: #f1f1c1;
  text-align: center;
 }
  

  