body{
    background-color: powderblue;
}
#h11{
    color: seagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    border: 3px solid sienna;  
}

h2.kkk{
    text-align: center;
    color: red;
}

h3{
    border: 5px solid red;
    padding: 30px;
}
pre.color{
  text-align: center;
    color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


  a:link { 
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  
   /*Благодаря этому из ССЫЛКИ МОЖНО СДЕЛАТЬ КНОПКУ БЕЗ ИСПОЛЬЗОВАНИЯ ТЕГА */
  a.gg:link, a.gg:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a.gg:hover, a.gg:active {
    background-color: red;
  }

  img.display{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div.add{
    background-image: url(https://sun9-65.userapi.com/4jq8qScPNpnfG-zM2lIjVaJ7k2m9yc2DwVgUZA/0LwaxeI-imQ.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  

  